*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;

    background: rgb(87,255,208);
    background: linear-gradient(90deg, rgba(87,255,208,1) 0%, rgba(73,216,162,1) 14%, rgba(169,255,159,1) 100%, rgba(255,255,255,1) 100%);
    color: white;

    height: 100vh;
    justify-content: center; /* alinhamento vertical */
    align-items: center; /* alinhamento horizontal */
    text-align: center;

}